.personalLinksItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: radial-gradient(160px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      var(--border-color, rgb(177, 177, 177)),
      transparent 40%);
  z-index: 1;
  border-radius: 6px;
}

.personalLinksContainer:hover .personalLinksItem::after {
  opacity: 100;
}